p {
    color: blue;
    font-size: 20pt;
}

.red {
    color: #E00000;
}

p.red {
    font-size: 10pt;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#bigdiv {
    background-color: #FFFF00;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin: 5px 10px 20px 40px; /*top right bottom left*/
}

img {
    max-width: 250px;
}